body {
    font-family: Arial, sans-serif; /*  */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center; /* Centraliza o conteúdo */
}

h2 {
    color: #4b0082;
}

p {
    font-size: 16px;
}
header{
    width: 100%;
    left: 100%;
    text-align: center;
    align-items: center;
    
}
.navbar img {
    display: flex;
    align-items: left;
    width: 3%;
}
/* Navbar */
.navbar ul {
    display: flex;
    justify-content: space-between;
    background-color: #4b0082;
    padding: 15px;
}

.navbar ul li {
    list-style: none;
    margin: 0 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: #dda0dd;
    transition: color 0.3s ease;
}

/* Flip de Slides */
.banner-slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.banner-slider .slide {
    width: 100%;
    height: 100%;
}

.banner-slider img {
    width: 100%;
    height: auto;
}

/* Ícones de Serviços */
.services {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.service-item {
    text-align: center;
}

.service-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.service-item img:hover {
    transform: scale(1.1);
}

/* Grid Sobre Nós */
.about-grid {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    align-items: center;
}

.about-img img {
    width: 300px;
    height: auto;
    margin-right: 40px;
    opacity: 0;
    animation: fadein 1s forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.about-text {
    max-width: 600px;
    text-align: left;
}

/* Especialidades */
.specialties {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.specialty-item img {
    width: 80px;
    height: 80px;
}

.specialty-item p {
    font-size: 16px;
    margin-top: 10px;
}

/* Vídeo */
#video {
    padding: 50px 0;
}

#video iframe {
    max-width: 100%;
}

/* Calculadora IMC */
.imc-calculator {
    padding: 50px 0;
}

.imc-calculator input {
    margin: 10px 0;
    padding: 5px;
}

.imc-calculator button {
    padding: 10px 20px;
    background-color: #4b0082;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.imc-calculator button:hover {
    background-color: #6a0dad;
}

/* Footer */
footer {
    background-color: #4b0082;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.footer-column {
    width: 30%;
}

.footer-column form input {
    padding: 10px;
    width: 80%;
    margin-bottom: 15px;
}

.footer-column form button {
    padding: 10px;
    background-color: #dda0dd;
    border-radius: 10px 25px;
    border: none;
    cursor: pointer;
}

.footer-column form button:hover {
    background-color: #6a0dad;
    transition: background-color 0.3s ease;
}

